header a {
  display: none;
}

/*--------------------------------------------------------------------------*/
/*                     Partie localisation                                  */
/*--------------------------------------------------------------------------*/

.localisation {
  display: flex;
  background-color: var(--om-gray);
  width: 100%;
  height: 50px;
  box-shadow: inset 0 5px 4px -2px #ccc;
}

.localisation>div {
  /* texte de la localisation */
  margin: auto;
  /* largeur égale à celle de l'image pour un 
     alignement de l'icône avec le début du logo */
  width: 150px;
  color: #353535;
  font-weight: 500;
  font-size: 15.5px;
  /* letter-spacing: 0.015rem;*/
}

.localisation i {
  /* icône localisation */
  margin-right: 15px;
}

/*--------------------------------------------------------------------------*/
/*                     Partie présentation                                  */
/*--------------------------------------------------------------------------*/

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--om-light-gray);
  padding: 40px 25px 60px 25px;
}

.presentation h1 {
  text-align: center;
  padding: 0px 15px 10px 15px;
}

.presentation div {
  /* Découvrez des ... */
  text-align: center;
  color: #676767;
  padding-bottom: 30px;
  font-size: 17.5px;
}

/*--------------------------------------------------------------------------*/
/*                     Partie fonctionnement                                */
/*--------------------------------------------------------------------------*/

.fonctionnement {
  padding: 50px 20px 40px 20px;
}

.fonctionnement article {
  position: relative;
  display: flex;
  height: 70px;
  background-color: var(--om-light-gray);
  box-shadow: 0px 3px 10px #ddd;
  border-radius: 20px;
  margin: 30px 10px;
}

.fonctionnement article span {
  /* le numéro de l'étape */
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: var(--om-primaire);
  color: white;
  padding-left: 7px;
  padding-top: 4px;
  font-size: 12px;
  font-weight: 700;
  top: 23px;
  left: -11px;
}

.fonctionnement article>div {
  /* chaque item : Choisissez.., Composez..., Dégustez... */
  margin: auto 30px;
  font-size: 14px;
  font-weight: 700;
  color: #353535;
}

.fonctionnement article:hover i {
  color: var(--om-primaire);
}

.fonctionnement article>div i {
  /* l'icône de chaque item */
  font-size: 18px;
  margin-right: 25px;
  color: #858585;
}

/*--------------------------------------------------------------------------*/
/*                     Partie Restaurants                                   */
/*--------------------------------------------------------------------------*/


.restaurants {
  background-color: var(--om-light-gray);
  padding: 40px 20px 60px 20px;
}

.restaurants>div {
  margin-top: 20px;
  ;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurants a {
  /* chacune des cards restaurant */
  position: relative;
  height: 250px;
  width: 100%;
  flex-grow: 1;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #e3e3e3;
  overflow: hidden;
}

.restaurants a img {
  height: calc(100% - 80px);
  width: 100%;
  object-fit: cover;
}

.desc-rest {
  /* l'ensemble: description + coeur */
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.desc-rest>div:first-child {
  /* la description de chaque carte restaurant */
  color: black;
  padding: 15px;
}

.restaurants h3 {
  /* nom du restaurant sur la card */
  font-size: 17.5px;
  color: #1a1a1a;
}

.restaurants span {
  /* nom du menu */
  font-size: 16.5px;
  color: #555;
  line-height: 30px;
}

.coeur {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 18px;
}

.coeur i {
  /* les icônes coeurs */
 
  
}

.nouveau {
  position: absolute;
  top: 20px;
  right:20px;
  background-color: #99e2d0;
  color: #058a6a;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 4px; 
  font-weight: 700;
  font-size: 19px;

}

/*--------------------------------------------------------------------------*/
/*                     page loader                                          */
/*--------------------------------------------------------------------------*/

.loader {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #171f30;
  z-index: 1;
  animation: bg-fadeout 2.8s forwards;
  background: linear-gradient(var(--om-secondaire), var(--om-primaire));
}

.loader>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.loader span {
  display: inline-block;
  position: relative;
  left: -40px;
  width: 6px;
  height: 48px;
  color: white;
  border-radius: 3px;
  background-color: inherit;
  animation-name: animloader;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
}

.loader p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: white;
}

@keyframes animloader {
  0% {
    box-shadow: 20px -10px, 40px 10px, 60px 0px;
  }

  25% {
    box-shadow: 20px 0px, 40px 0px, 60px 10px;
  }

  50% {
    box-shadow: 20px 10px, 40px -10px, 60px 0px;
  }

  75% {
    box-shadow: 20px 0px, 40px 0px, 60px -10px;
  }

  100% {
    box-shadow: 20px -10px, 40px 10px, 60px 0px;
  }
}


@keyframes bg-fadeout {
  from {
    opacity: 1;
    display: block;
  }

  60% {
    opacity: 0.99;
  }

  99% {
    transform: scale(1);
  }

  to {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}