html {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.dropdown {
    position: relative;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

.dropdown-item {
    display: flex;
    height: 57px;
    align-items: center;
    position: relative;
}

.first-item {
    justify-content: space-between;
}

.dropdown-menu {
    position: absolute;
    background-color: inherit;
    width: 100%;
    z-index: 1000;
}

.dropdown.opened {
    border-radius: 5px 5px 0px 0px;
}

.dropdown.opened .dropdown-menu {

    display: block;
}

.dropdown.closed .dropdown-menu {
    display: none;
}

.dropdown-menu {
    border-radius: 0 0 5px 5px;
}

.p6 {
    width: 170px;
    background-color: #901c1c;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.p6 .dropdown-item {
    position: relative;
    width: 100%;
    padding: 0px 20px;
    transition: background-color 100ms;
}

.p6 .dropdown-item:last-child {
    border-radius: 0 0 5px 5px;
}

.p6 .dropdown-menu .dropdown-item:hover {
    background-color: #aa2f2f;
}

.p6.dropdown.active .dropdown-item:not(:last-child)::after {
    position: absolute;
    bottom: 0px;
    left: 10px;
    content: " ";
    background-color: white;
    width: calc(100% - 20px);
    height: 1px;
    box-sizing: border-box;
}